@mixin style__small() {
    &__small {
        background-color: $white-color;  
        max-width: 400px;
        height: 394px;
        padding: 55px 50px;
        text-align: center;
        flex: 1;
        @media screen and (max-width: 1199px) {
            &::after {
                display: none !important;
            }
        }
    }
    &__text-small {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $red-color;
        margin-bottom: 10px;
        @media screen and (max-width: 1199px) {
            & {
                font-size: 13px;
            }
        }
    }
    &__heading {
        font-size: 35px;
        font-weight: 100;
        text-transform: uppercase;
        color: $green-color;
        @media screen and (max-width: 1199px) {
            & {
                font-size: 28px;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 23px;
            margin: 25px auto;
            background: url('../img/gray-logo.svg');
        }
    }
    &__text,
    &__link {  
        color: $dark-color;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
//        @media screen and (max-width: 1199px) {
//            & {
//                font-size: 12px;
//            }
//        }
    }
    &__link {
        color: $green-color;
        text-decoration: none;
        transition: .3s;
        &:hover {
            text-decoration: underline;
        }
    }    
}
    
@mixin style__big() {    
    &__big {
        height: 394px;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 2;
        p {
            color: $red-color;
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-right: 73px;
            margin-bottom: 51px;
            span {
                color: $white-color;
            }
            &::after {
               content: '';
               display: block;
               width: 19px;
               height: 33px; 
               margin-left: 10px;    
               background: url('../img/logo-small.svg'); 
            }
        }
    }
}